
{% extends "base.html" %}
{% load static %}
{% block content %}


  
    
    <!--  hero  -->
    <div class="hero Polka">
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static "imgs/illustrations/HomePage-L.png" %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">岩手大学の落とし物</h1>
            <p class="lead mt-4">学内の落とし物と拾得物はここで簡単に登録できます．</p>
            <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
              <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
            </div> -->
            <div class="container-fluid">
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="タグ検索" aria-label="Search">
                {% comment %} <button class="btn btn-outline-success" type="submit">タグ検索</button> {% endcomment %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">検索</button>
  </form>

  <!--  card  -->
    <section id="cardlists">
      {% if images %}
      <div class="container">
        {% comment %} <div class="row mt-5">
          <div class ="col-md-8 mx-auto text-center">
            <h3>落とし物一覧</h3>
            <p>aaaaaaaaaaaaa</p>
          </div>
        </div> {% endcomment %}

        <div class="row g-8 py-5">
          {% comment %} {% for itemimage in itemimages %} {% endcomment %}
          {% for image in images %}
          <div class="col-lg-3 col-sm-6 g-5">
            <a class="card card-effect" href="#" data-bs-toggle="modal" data-bs-target="#modal{{ image.id }}">
              <div class="card-img-area">
                <img src="{{ image.image_path.url }}" class="card-img-top object-fit: contain" alt="Item Image">
              </div>
                
                
              <div class="card-body">
                <p class="card-text"><img class="card-icons" src="{% static "imgs/icons/CALENDAR I.png" %}">{{image.item.created_at}}</p>
                <p class="card-text"><img class="card-icons" src="{% static "imgs/icons/CATEGORY I.png" %}">{{ image.item.item_name.item_name }}</p>
                <p class="card-text"><img class="card-icons" src="{% static 'imgs/icons/Component 1.png'%}">{{image.item.PorD_location}}</p>
                {% comment %} <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">詳細情報</button> {% endcomment %}
              </div>
            </a>
          </div>

          <!--  modal  -->
          <div class="modal fade" id="modal{{ image.id }}" tabindex="-1" aria-labelledby="modalLabel{{ image.id }}" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  {% comment %} <h5 class="modal-title">Modal title</h5> {% endcomment %}
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-7">
                      {% comment %} <img src="static/imgs/くるま.jpg" class="detail-img-top img-fluid" alt="..."> {% endcomment %}
                      <img src="{{ image.image_path.url }}" class="img-fluid" alt="Item Image">
                      {% comment %} <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="static/imgs/くるま.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="static/imgs/おにぎり.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="static/imgs/ぱんだ.jpg" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div> {% endcomment %}


                    </div>
                    <div class="col-5">
                      <ul class="detail">
                        <li class="detail-tag"><img class="detail-icons" src="{% static 'imgs/icons/CALENDAR I.png'%}">日時</li>
                        <ul class="detail-content">
                          <li class ="detail-content">{{image.item.created_at}}</li>
                        </ul>
                        <li class="detail-tag"><img class="detail-icons" src="{% static 'imgs/icons/Component 1.png'%}">拾った場所</li>
                        <ul class="detail-content">
                          <li class ="detail-content">{{ image.item.PorD_location }}</li>
                        </ul>
                        <li class="detail-tag"><img class="detail-icons" src="{% static 'imgs/icons/SENT.png'%}">届けた場所</li>
                        <ul class="detail-content">
                          <li class ="detail-content">{{ image.item.storage_location }}</li>
                        </ul>
                        <li class="detail-tag"><img class="detail-icons" src="{% static 'imgs/icons/CATEGORY I.png'%}">物品カテゴリー</li>
                        <ul class="detail-content">
                          <li class ="detail-content">{{ image.item.item_name.item_name }}</li>
                        </ul>
                        {% comment %} <li class="detail-tag"><img class="detail-icons" src="{% static 'imgs/icons/CALENDAR I.png'%}">色*</li>
                        <ul class="detail-content">
                          <li class ="detail-content">赤</li>
                        </ul> {% endcomment %}
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <ul class="detail detail-content">
                      <li class="detail">コメント</li>
                      <li class ="detail-content">{{ image.item.item_name.description }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  {% comment %} <button type="button" class="btn btn-primary">Save changes</button> {% endcomment %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
            {% comment %} 

          <div class="col-lg-3 col-sm-6">
            <div class="card card-effect">
                <img src="static/imgs/くるま.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text"><img class="card-icons" src="static/imgs/icons/CALENDAR I.png">日時</p>
                <p class="card-text"><img class="card-icons" src="static/imgs/icons/CATEGORY I.png">もの</p>
                <p class="card-text"><img class="card-icons" src="static/imgs/icons/Component 1.png">場所</p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">詳細情報</button>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="card card-effect">
                <img src="static/imgs/くるま.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text"><img class="card-icons" src="static/imgs/icons/CALENDAR I.png">日時</p>
                <p class="card-text"><img class="card-icons" src="static/imgs/icons/CATEGORY I.png">もの</p>
                <p class="card-text"><img class="card-icons" src="static/imgs/icons/Component 1.png">場所</p>
                <a href="#" class="btn btn-primary">詳細情報</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="card card-effect">
                <img src="static/imgs/くるま.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text"><img class="card-icons" src="static/imgs/icons/CALENDAR I.png">日時</p>
                <p class="card-text"><img class="card-icons" src="static/imgs/icons/CATEGORY I.png">もの</p>
                <p class="card-text"><img class="card-icons" src="static/imgs/icons/Component 1.png">場所</p>
                <a href="#" class="btn btn-primary">詳細情報</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="card card-effect">
                <img src="static/imgs/くるま.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text"><img class="card-icons" src="static/imgs/icons/CALENDAR I.png">日時</p>
                <p class="card-text"><img class="card-icons" src="static/imgs/icons/CATEGORY I.png">もの</p>
                <p class="card-text"><img class="card-icons" src="static/imgs/icons/Component 1.png">場所</p>
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="exampleModal">詳細情報</a>
              </div>
            </div>
          </div> {% endcomment %}


        </div>

        

      </div>
      {% else %}
        <p>選択されたタグを持つ落とし物情報は見つかりませんでした</p>
      {% endif %}

      <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </section>
    



{% endblock content %}