
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<!--  hero  -->
<div class="hero">
  <div class="container col-12 hero-content">
    <div class="row flex-md-row-reverse align-items-center">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <img src="{% static "imgs/illustrations/2 people emoji added-final.png" %}" class="hero-illust d-block mx-lg-auto img-fluid" alt="illustration" width="130%" loading="lazy">
      </div>
      <div class="hero-texts col-sm-12 col-md-6 col-lg-6">
        <div class="emojis d-none d-md-inline-flex justify-content-between">
          <img src="{% static "imgs/illustrations/emoji_ニコニコ.png" %}" class="img-fluid emoji_niconico" alt="illustration" width="20%" loading="lazy">
          <img src="{% static "imgs/illustrations/emoji_泣き顔.png" %}" class="img-fluid emoji_nakigao" alt="illustration" width="20%" loading="lazy">
        </div>
        <h1 class="display-5 fw-bold lh-1 mb-3 my-sm-3">岩手大学の落とし物</h1>
        <p class="lead my-0 py-0">学内の落とし物と拾得物はここで簡単に登録できます。</p>
        <div class="emojis d-none d-md-inline-flex justify-content-end my-0 py-0">
          <img src="{% static "imgs/illustrations/Glass emoji-fixed.png" %}" class="img-fluid mt-0 emoji_megane" alt="illustration" width="23%" loading="lazy">
        </div>
        <div id="tag-search">
          <button class="btn top-tag-search-button col-12 mt-3" justifyContent="flex-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSearch" aria-expanded="false" aria-controls="collapseExample" id="collapsebutton">
            <img class="tagsearch-icon" src="{% static 'imgs/icons/SEARCH I.png'%}">タグ検索
            <img class="tagsearch-icon-arrow rotate-icon ms-auto" src="{% static 'imgs/icons/SCROLL ARROW -down.png'%}" id="arrowIcon">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="top-forms collapse col-12 row pt-4 gap-4 justify-content-start" id="collapseSearch">
  <div class="search_pulldown col-lg-4 col-sm-12 px-5">
    <form method="post">
      {% csrf_token %}
      <div class="top-droppeditemTag col-12">
        <div class="top-itemTagnames p-1 col-lg-12 col-sm-12">
          落とした物
        </div>
        <div class="top-droppedlocationTag-dropdownmenu col-lg-12 col-sm-12">
          <select name="item" class="form-select" id="tag">
            <option value="">------</option>  <!-- 空欄 -->
            {% for itemname in itemnametags %}
              <option value="{{ itemname.item_name_id }}">{{ itemname.item_name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="top-droppedlocationTag col-12 my-3">
        <div class="top-itemTagnames p-1 col-lg-12 col-sm-12">
          落とした場所
        </div>
        <div class="top-droppedlocationTag-dropdownmenu col-lg-12 col-sm-12">
          <select name="location" class="form-select" id="tag">
            <option value="">------</option>  <!-- 空欄 -->
            {% for location in locationtags %}
              <option value="{{ location.PorD_location_id }}">{{ location.picked_or_dropped_location_name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="top-storagelocationTag col-12">
        <div class="top-itemTagnames p-1 col-lg-12 col-sm-12">
          保管場所
        </div>
        <div class="top-droppedlocationTag-dropdownmenu col-lg-12 col-sm-12">
          <select name="storage" class="form-select" id="tag">
            <option value="">------</option>  <!-- 空欄 -->
            {% for storage in storagetags %}
            <option value="{{ storage.storage_location_id }}">{{ storage.storage_location_name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="gallery" id="photoGallery">
      
        <a href="{% static 'imgs/iwate_university_map.jpg' %}" data-pswp-width="1298" data-pswp-height="1080" target="_blank">
          <button type="button" class="top-seach-btn my-2 ms-auto">岩手大学マップはこちら</button>
          <!--
          <img src="{% static 'imgs/iwate_university_map.jpg' %}" class="img-fluid" alt="岩手大学マップ" loading="lazy" width="1298" height="1080">
          -->
        </a>
      </div>
      <!-- Button to Trigger Modal -->
      <button type="submit" class="top-seach-btn col-12 my-2 p-2">検索</button>
    </form>
  </div>

  <div class="search_date col-lg-4 col-sm-12 px-5">
    <form method="post">
      {% csrf_token %}
      {{ date_form.as_p }}
      <button type="submit" class="top-seach-btn col-12 my-2 p-2">日付検索</button>
    </form>
  </div>
</div>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.2.2/photoswipe.min.css"
  integrity="sha512-aKJqqX25Ch6C/Gae4xBq5gDKhUS2QcNrPoAxqy4fbLr9CqGq7uo/i0aRuti1TUYpZxjXuOr90cTP/aD9WY8CLQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<script type="module">
  import PhotoSwipeLightbox from "https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.2.2/photoswipe-lightbox.esm.min.js";
  const lightbox = new PhotoSwipeLightbox({
    gallery: "#photoGallery",
    children: "a",
    pswpModule: () =>
      import(
        "https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.2.2/photoswipe.esm.min.js"
      ),
      wheelToZoom: true,
  });
  lightbox.init();
</script>


<!--タグ検索の横の矢印アイコンの動作-->
<script>
  // ボタンと折りたたみコンテンツを取得
  const toggleButton = document.getElementById('collapsebutton');
  const collapseElement = document.getElementById('collapseSearch');
  const arrowIcon = document.getElementById('arrowIcon');

  // collapseインスタンスを生成（初期状態でトグルしない）
  const collapse = new bootstrap.Collapse(collapseElement, {
      toggle: false // 初期状態では展開しない
  });

  // ボタンがクリックされた時に折りたたみ/展開を切り替える
  toggleButton.addEventListener('click', function () {
      // 折りたたみのトグル
      collapse.toggle();
  });

  // 展開される時に矢印を回転
  collapseElement.addEventListener('show.bs.collapse', function () {
      arrowIcon.style.transform = 'rotate(180deg)';
  });

  // 折りたたまれる時に矢印を元に戻す
  collapseElement.addEventListener('hide.bs.collapse', function () {
      arrowIcon.style.transform = 'rotate(0deg)';
  });
</script>



<!--  card  -->
<section id="cardlists">
  {% if images %}
  <div class="container">
    <div class="row g-8 py-3">
      {% for image in images %}
      <div class="col-lg-3 col-sm-6 g-5">
        <a class="card card-effect" href="#" data-bs-toggle="modal" data-bs-target="#modal{{ image.id }}">
          <div class="card-img-area">
            <img src="{{ image.image_path.url }}" class="card-img-top " alt="Item Image">
          </div>
            
            
          <div class="card-body">
            <ul>
            <li class="card-text"><img class="card-icons" src="{% static "imgs/icons/CALENDAR I.png" %}">{{image.item.created_at|date:"Y/m/d"}}</li>
            <li class="card-text"><img class="card-icons" src="{% static "imgs/icons/CATEGORY I.png" %}">{{ image.item.item_name.item_name }}</li>
            <li class="card-text"><img class="card-icons" src="{% static 'imgs/icons/Component 1.png'%}">{{image.item.PorD_location}}</li>
            </ul>
          </div>
        </a>
      </div>

      <!--  modal  -->
      <div class="modal fade" id="modal{{ image.id }}" tabindex="-1" aria-labelledby="modalLabel{{ image.id }}" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row px-1">
                <div class="col-lg-7 col-sm-12">
                  <img src="{{ image.image_path.url }}" class="detail-img img-fluid" alt="Item Image">
                </div>
                <div class="col-lg-5 col-sm-12">

                  <div class="row py-3">
                    <div class="detail-tag col-lg-12 col-sm-5 py-0 my-0">
                      <p class="py-0 my-0"><img class="detail-icons" src="{% static 'imgs/icons/CALENDAR I.png'%}">落とし物ID</p>
                    </div>
                    <div class="col-lg-11 col-sm-7 ps-lg-5 py-0 my-0">
                      <p class="detail-content py-0 my-0">{{image.item.item_id}}</p>
                    </div>
                  </div>
                  <div class="row pb-3">
                    <div class="detail-tag col-lg-12 col-sm-5 py-0 my-0">
                      <p class="py-0 my-0"><img class="detail-icons" src="{% static 'imgs/icons/CALENDAR I.png'%}">届いた日時</p>
                    </div>
                    <div class="col-lg-11 col-sm-7 ps-lg-5 py-0 my-0 ">
                      <p class="detail-content py-0 my-0">{{image.item.created_at|date:"Y/m/d"}}</p>
                    </div>
                  </div>
                  <div class="row pb-3">
                    <div class="detail-tag col-lg-12 col-sm-5 py-0 my-0">
                      <p class="py-0 my-0"><img class="detail-icons" src="{% static 'imgs/icons/Component 1.png'%}">拾った場所</p>
                    </div>
                    <div class="col-lg-11 col-sm-7 ps-lg-5 py-0 my-0 ">
                      <p class="detail-content py-0 my-0">{{ image.item.PorD_location }}</p>
                    </div>
                  </div>
                  <div class="row pb-3">
                    <div class="detail-tag col-lg-12 col-sm-5 py-0 my-0">
                      <p class="py-0 my-0"><img class="detail-icons" src="{% static 'imgs/icons/SENT.png'%}">届いた場所</p>
                    </div>
                    <div class="col-lg-11 col-sm-7 ps-lg-5 py-0 my-0 ">
                      <p class="detail-content py-0 my-0">{{ image.item.storage_location }}</p>
                    </div>
                  </div>
                  <div class="row pb-3">
                    <div class="detail-tag col-lg-12 col-sm-5 py-0 my-0">
                      <p class="py-0 my-0"><img class="detail-icons" src="{% static 'imgs/icons/CATEGORY I.png'%}">物品カテゴリー</p>
                    </div>
                    <div class="col-lg-11 col-sm-7 ps-lg-5 py-0 my-0 ">
                      <p class="detail-content py-0 my-0">{{ image.item.item_name.item_name }}</p>
                    </div>
                  </div>
                </div>
              </div>


              <div class="row pb-3">
                <div class="detail-tag col-lg-12 col-sm-5 py-0 my-0">
                  <p class="py-0 my-0"><img class="detail-icons" src="{% static 'imgs/icons/Comment.png'%}">コメント</p>
                </div>
                <div class="col-lg-11 col-sm-7 ps-lg-5 py-0 my-0 ">
                  <p class="detail-content py-0 my-0">{{ image.item.description }}</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
    <p>選択されたタグを持つ落とし物情報は見つかりませんでした</p>
  {% endif %}

  {% comment %}以下、ページネーションの実装{% endcomment %}
  <div class="d-flex justify-content-center mt-3">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item PreviousAndNext">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
          {% if num == page_obj.number %}
            <li class="page-item active" aria-current="page"><span class="page-link">{{ num }}</span></li>
          {% elif num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item PreviousAndNext">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</section>




{% endblock content %}