{% extends "base.html" %}
{% load static %}
{% block content %}

    <!--  hero  -->
    <div class="hero Polka">
        <div class="container col-xxl-8 px-4 py-5">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
              <img  class="d-block mx-lg-auto img-fluid" src= "{% static "imgs/illustrations/HomePage-L.png" %}"alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
              <h1 class="display-5 fw-bold lh-1 mb-3">岩手大学の落とし物</h1>
              <p class="lead mt-4">学内の落とし物と拾得物はここで簡単に登録できます．</p>
              <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
              </div> -->
              <div class="container-fluid">
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="タグ検索" aria-label="Search">
                  {% comment %} <button class="btn btn-outline-success" type="submit">タグ検索</button> {% endcomment %}
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">検索</button>
</form>

{% comment %} 
bootstrapで画像のタイル表示が実装できる 
データベースにある画像を動的に表示する場合、{% %}の中でdivタグで囲む
{{ image.item.item_name.item_name }}: ItemImage -> Item -> ItemsNameTag の item_name フィールドを参照しているイメージ
{% endcomment %}
{% if images %}
    <div class="container my-4">
        <div class="row g-3">
            {% for image in images %}
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{ image.id }}">
                        <img src="{{ image.image_path.url }}" class="img-fluid rounded" alt="Item Image">
                        <h5 class="mt-2 text-center">{{ image.item.item_name.item_name }}</h5>
                    </a>
                </div>

                <div class="modal fade" id="modal{{ image.id }}" tabindex="-1" aria-labelledby="modalLabel{{ image.id }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel{{ image.id }}">{{ image.item.item_name.item_name }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img src="{{ image.image_path.url }}" class="img-fluid" alt="Item Image">
                                <p class="mt-3">{{ image.item.item_name.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>    
            {% endfor %}
        </div>
    </div>
{% else %}
    <p>選択されたタグを持つ落とし物情報は見つかりませんでした</p>
{% endif %}



{% endblock content %}